<div class="row">

	<div class="col-md-4">

	</div>

  <div class="col-md-4">


		<h1>Editing userdetail</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @userdetail %> |
		<%= link_to 'Back', userdetails_path %>


  <div class="col-md-4">
  
  </div>
</div>
