<div class="row">

<div class="col-md-4">

</div>

  <div class="col-md-4">




		<%= form_tag topic_posts_path(@topic) do  %>
		    <%= render 'form' %>
		    <%= submit_tag 'Create post' %>

		<%end%>

    




</div> 

  <div class="col-md-4">
</div>
</div>

